---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Card from "../components/Card";
import ProgressBar from "../components/ProgressBar";
import Tag from "../components/Tag";
const progressBar = await getCollection("progressBar");
const education = await getCollection("education");
const experience = await getCollection("experience");
const knowledges = await getCollection("knowledges");
import { FaGraduationCap } from "react-icons/fa6";
import { FaBriefcase } from "react-icons/fa";
---

<Layout
  title="Resume - Bostami Tailwind CSS Personal Portfolio HTML Template"
  description="Bostami Tailwind CSS Personal Portfolio HTML Template"
>
  <!-- resume section start -->
  <div class="container mr-auto ml-auto sm:px-5 md:px-10 lg:px-14">
    <div class="py-12 px-4 md:px-0">
      <!-- resume page title -->
      <h2
        class="relative inline-block text-[2.5rem] dark:text-white font-bold transform after:absolute after:md:w-[12rem] after:left-[12rem] after:h-0.5 after:bg-gradient-to-r after:from-btn-secondary after:to-btn-secondary after:content-[''] after:rounded-md after:top-2/4 after:transform"
      >
        Resume
      </h2>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-x-6 gap-y-6 mt-[30px]"
      >
        <!-- eductation start -->
        <div>
          <div class="flex items-center space-x-2 mb-4">
            <span class="text-6xl text-light-icon">
              <FaGraduationCap />
            </span>
            <h4 class="text-[1.625rem] dark:text-white font-medium">
              Education
            </h4>
          </div>
          {education.map((details) => <Card details={details} />)}
        </div>
        <!-- eductation end -->

        <!-- experience start -->
        <div>
          <div class="flex items-center space-x-2 mb-4">
            <span class="text-6xl text-light-icon">
              <FaBriefcase />
            </span>
            <h4 class="text-[1.625rem] dark:text-white font-medium">
              Experience
            </h4>
          </div>
          {experience.map((details) => <Card details={details} />)}
        </div>
        <!-- experience end -->
      </div>
    </div>
  </div>

  <!-- working section start -->
  <div
    class="container mr-auto ml-auto bg-light-bg dark:bg-dark-bg py-12 px-2 sm:px-5 md:px-10 lg:px-20"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="col-span-1">
        <h4 class="text-[1.625rem] dark:text-white font-medium mb-6">
          Working Skills
        </h4>
        {progressBar.map((details) => <ProgressBar details={details} />)}
      </div>

      <div class="col-span-1">
        <h4 class="text-[1.625rem] dark:text-white font-medium mb-8">
          Knowledges
        </h4>

        <div class="flex gap-y-5 gap-x-2.5 flex-wrap">
          {knowledges[0].data.skill.map((item) => <Tag tagName={item} />)}
        </div>
      </div>
    </div>
  </div>
  <!-- working section end -->
  <!-- resume section end -->
</Layout>
